* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* pridi-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Pridi";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pridi-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* pridi-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Pridi";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pridi-v13-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    font-family: "Pridi", serif;
    color: #fff;
    background-image: url("../images/noodles-platter.jpg");
    background-size: cover;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

/* HEADER SECTION --- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.8rem 6.4rem;
    background-color: #000000c7;
}

.logo-img {
    height: 4.8rem;
}

.nav-list {
    display: flex;
    gap: 4.8rem;
    list-style: none;
    font-size: 2.4rem;
    letter-spacing: 0.125rem;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

/* MAIN SECTION --- */

main {
    margin: 5.2rem;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.2rem 0;
    background-color: #000000c7;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
}

.home-content > p {
    text-align: center;
    font-size: 2.4rem;
}

.home-content > p:nth-of-type(3) {
    text-transform: uppercase;
}

.chef-img {
    width: 36rem;
    border-radius: 50%;
}

/* MENU SECTION --- */
.menu-title {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    text-align: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3.2rem;
    column-gap: 6.4rem;
}

.menu-card {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.dish-img {
    width: 19rem;
    height: 19rem;
    border-radius: 50%;
    border: 0.3rem solid #fff;
    transition: all 0.4s;
}

.dish-img:hover,
.dish-img:active {
    cursor: pointer;
    scale: 1.075;
}

.dish-title {
    text-transform: capitalize;
    font-size: 2rem;
    text-align: center;
}

/* CONTACT SECTION --- */

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    text-align: center;
}

.contact-logo-img {
    height: 10rem;
}

.contact-data-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.contact-data {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.data-paragraph {
    font-size: 1.8rem;
    letter-spacing: 0.125rem;
}

.data-icon {
    width: 6rem;
}
